div {
  margin: 10px;
  width: 100px;
  height: 100px;

}

.ex1 {
  background: linear-gradient(red 50%, blue 50%);
  background-size: 100% 15px;
}

.ex2 {
  background: linear-gradient(to right, #fb3 50%, #58a 0);
  background-size: 15px 100%;
}

.ex3 {
  background: linear-gradient(to right, #fb3 33.3%, #58a 0, #58a 66.6%, red 0);
  background-size: 10px 100%;
}
