.bd {
  width: 100vw;
  height: 100vh;
  background: url('http://csssecrets.io/images/stone-art.jpg');
  padding-top: 1px;
}

.container1{
  background-color: white;
  border: 10px solid hsla(0, 0%, 100%, .5);
  background-clip: padding-box;

  max-width: 20em;
  padding: 2em;
  margin: 5em auto 0;
  font: 100%/1.5 sans-serif;
}
