#ex1 h1 {
  border: 2px solid tomato;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  width: 300px;
}

#ex2 {
  background-color: #f1f1f1;
}

#ex2 h1 {
  margin: 0px;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid black;
}

#ex2 h1 a {
  text-decoration: none;
}

#ex2 ol {
  margin: 0px;
  padding: 20px;
  width: 110px;
  border-right: 1px solid black;
}
