div {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: aquamarine;
}

.ex1 {
  border-radius: 100px;
}

.ex2 {
  border-radius: 50% / 100% 100% 0 0;
}

.ex3 {
  border-radius: 100% 0 0 100% / 50%;
}

.ex4 {
  border-radius: 50% / 0 0 100% 100%;
}

.ex5 {
  border-radius: 0 100% 100% 0 / 50%;
}
