<div id="ex3">
  <div class="container">
    <section class="item item-a">
      <h1>Section A</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec erat a tellus tristique maximus vel ut est.
        Nullam
        nec leo quis urna viverra fringilla. Nam accumsan nisl in arcu ullamcorper, nec aliquet eros mattis. Nullam et
        tempor ipsum. Pellentesque lobortis maximus pharetra. Maecenas convallis placerat faucibus. In vel iaculis est.
        Phasellus sollicitudin semper felis, sed tincidunt dolor. Nulla facilisi. Suspendisse consectetur fringilla
        felis,
        at scelerisque nisl auctor eget. Aliquam feugiat non nunc et rutrum. Praesent mattis vitae elit sed mattis. Ut
        mattis nisi sed tortor placerat, porta varius lorem eleifend. Cras non commodo ex. Pellentesque pretium a turpis
        nec placerat.
      </p>
    </section>
    <section class="item item-b">
      <h1>Section B</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec erat a tellus tristique maximus vel ut est.
        Nullam
        nec leo quis urna viverra fringilla. Nam accumsan nisl in arcu ullamcorper, nec aliquet eros mattis. Nullam et
        tempor ipsum. Pellentesque lobortis maximus pharetra. Maecenas convallis placerat faucibus. In vel iaculis est.
        Phasellus sollicitudin semper felis, sed tincidunt dolor. Nulla facilisi. Suspendisse consectetur fringilla
        felis,
        at scelerisque nisl auctor eget. Aliquam feugiat non nunc et rutrum. Praesent mattis vitae elit sed mattis. Ut
        mattis nisi sed tortor placerat, porta varius lorem eleifend. Cras non commodo ex. Pellentesque pretium a turpis
        nec placerat.
      </p>
    </section>
  </div>
</div>

<div id="ex2">
  <div class="container">
    <section class="item item-a">
      <h1>Section A</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec erat a tellus tristique maximus vel ut est.
        Nullam
        nec leo quis urna viverra fringilla. Nam accumsan nisl in arcu ullamcorper, nec aliquet eros mattis. Nullam et
        tempor ipsum. Pellentesque lobortis maximus pharetra. Maecenas convallis placerat faucibus. In vel iaculis est.
        Phasellus sollicitudin semper felis, sed tincidunt dolor. Nulla facilisi. Suspendisse consectetur fringilla
        felis,
        at scelerisque nisl auctor eget. Aliquam feugiat non nunc et rutrum. Praesent mattis vitae elit sed mattis. Ut
        mattis nisi sed tortor placerat, porta varius lorem eleifend. Cras non commodo ex. Pellentesque pretium a turpis
        nec placerat.
      </p>
    </section>
    <section class="item item-b">
      <h1>Section B</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec erat a tellus tristique maximus vel ut est.
        Nullam
        nec leo quis urna viverra fringilla. Nam accumsan nisl in arcu ullamcorper, nec aliquet eros mattis. Nullam et
        tempor ipsum. Pellentesque lobortis maximus pharetra. Maecenas convallis placerat faucibus. In vel iaculis est.
        Phasellus sollicitudin semper felis, sed tincidunt dolor. Nulla facilisi. Suspendisse consectetur fringilla
        felis,
        at scelerisque nisl auctor eget. Aliquam feugiat non nunc et rutrum. Praesent mattis vitae elit sed mattis. Ut
        mattis nisi sed tortor placerat, porta varius lorem eleifend. Cras non commodo ex. Pellentesque pretium a turpis
        nec placerat.
      </p>
    </section>
  </div>
</div>


<div id="ex1">
  <div class="container">
    <section class="item item-a">
      <h1>Section A</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec erat a tellus tristique maximus vel ut est.
        Nullam
        nec leo quis urna viverra fringilla. Nam accumsan nisl in arcu ullamcorper, nec aliquet eros mattis. Nullam et
        tempor ipsum. Pellentesque lobortis maximus pharetra. Maecenas convallis placerat faucibus. In vel iaculis est.
        Phasellus sollicitudin semper felis, sed tincidunt dolor. Nulla facilisi. Suspendisse consectetur fringilla
        felis,
        at scelerisque nisl auctor eget. Aliquam feugiat non nunc et rutrum. Praesent mattis vitae elit sed mattis. Ut
        mattis nisi sed tortor placerat, porta varius lorem eleifend. Cras non commodo ex. Pellentesque pretium a turpis
        nec placerat.
      </p>
    </section>
    <section class="item item-b">
      <h1>Section B</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec erat a tellus tristique maximus vel ut est.
        Nullam
        nec leo quis urna viverra fringilla. Nam accumsan nisl in arcu ullamcorper, nec aliquet eros mattis. Nullam et
        tempor ipsum. Pellentesque lobortis maximus pharetra. Maecenas convallis placerat faucibus. In vel iaculis est.
        Phasellus sollicitudin semper felis, sed tincidunt dolor. Nulla facilisi. Suspendisse consectetur fringilla
        felis,
        at scelerisque nisl auctor eget. Aliquam feugiat non nunc et rutrum. Praesent mattis vitae elit sed mattis. Ut
        mattis nisi sed tortor placerat, porta varius lorem eleifend. Cras non commodo ex. Pellentesque pretium a turpis
        nec placerat.
      </p>
    </section>
  </div>
</div>

