div {
  margin: 10px;
  width: 100px;
  height: 100px;
}

.ex1 {
  background: linear-gradient(#fb3, #58a);
}


.ex2 {
  background: linear-gradient(#fb3 20%, #58a 80%);
}

.ex3 {
  background: linear-gradient(#fb3 50%, #58a 50%);
}

.ex4 {
  background: linear-gradient(#fb3 50%, #58a 50%);
  background-size: 100% 30px;
}

.ex5 {
  background: linear-gradient(#fb3 30%, #58a 30%);
  background-size: 100% 30px;
}

.ex6 {
  background: linear-gradient(#fb3 30%, #58a 0);
  background-size: 100% 30px;
}

.ex7 {
  background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, yellowgreen 0);
  background-size: 100% 45px;
}

