div {
  background: #fb3;
  margin: 10px;
}

.ex1 {

  width: 200px;
  height: 200px;

  border-radius: 100px;
}

.ex2 {
  width: 100px;
  height: 70px;
  border-radius: 100px / 75px;
}


.ex3 {
  width: 100px;
  height: 70px;
  border-radius: 50%;
}
