<div>
  <a routerLink="/">Home</a>
  <a routerLink="/w3schools/dropdowns">Dropdown</a>
  <a routerLink="/w3schools/rounded-corners">RoundedCorners</a>
  <a routerLink="/w3schools/box-shadow">Box Shadow</a>
  <a routerLink="/basics/box-model">BoxModel</a>
  <a routerLink="/basics/grid">Grid</a>
  <a routerLink="/basics/position">Position</a>
  <a routerLink="/studio-meal/float-object">FloatObject</a>
  <a routerLink="/studio-meal/layout">Layout</a>
  <a routerLink="/studio-meal/flex">Flex</a>
  <a routerLink="/studio-meal/grid">Grid</a>
  <a routerLink="/studio-meal/3d1">3D 1</a>
  <a routerLink="/studio-meal/3d2">3D 2</a>
  <a routerLink="/secret/translucence-border">Translucence Border</a>
  <a routerLink="/secret/multiple-border">Multiple Border</a>
  <a routerLink="/secret/background-origin">Background Origin</a>
  <a routerLink="/secret/inner-rounding">Inner Rounding</a>
  <a routerLink="/secret/horizontal-stripes">Horizontal Stripes</a>
  <a routerLink="/secret/vertical-stripes">Vertical Stripes</a>
  <a routerLink="/secret/diagonal-stripes">Diagonal Stripes</a>
  <a routerLink="/secret/ellipse">Ellipse</a>
  <a routerLink="/secret/half-ellipse">Half Ellipse</a>
  <a routerLink="/secret/parallelograms">Parallelogram</a>
  <a routerLink="/secret/dimming-box-shadow">Dimming box shadow</a>
  <a routerLink="/secret/native-model">Native Model</a>
</div>
28,900
8735
