<div>
  <a routerLink="/">Home</a>
  <a routerLink="/w3schools/dropdowns">Dropdown</a>
  <a routerLink="/w3schools/rounded-corners">RoundedCorners</a>
  <a routerLink="/w3schools/box-shadow">Box Shadow</a>
  <a routerLink="/basics/box-model">BoxModel</a>
  <a routerLink="/basics/grid">Grid</a>
  <a routerLink="/basics/position">Position</a>
  <a routerLink="/studio-meal/float-object">FloatObject</a>
  <a routerLink="/studio-meal/layout">Layout</a>
  <a routerLink="/studio-meal/flex">Flex</a>
  <a routerLink="/studio-meal/grid">Grid</a>
  <a routerLink="/studio-meal/3d1">3D 1</a>
  <a routerLink="/studio-meal/3d2">3D 2</a>
  <a routerLink="/secret/translucence-border">Translucence Border</a>
  <a routerLink="/secret/multiple-border">Multiple Border</a>
  <a routerLink="/secret/background-origin">Background Origin</a>
  <a routerLink="/secret/inner-rounding">Inner Rounding</a>
</div>
